.Badge {
    display: inline-block;
    width: fit-content;
    background: rgba(10, 18, 36, 0.9);
    color: #ffffff;
    font-size: 12px;
    padding: 8px 16px;
    border-radius: 20px;
    box-shadow: 0 0 16px rgba(0, 123, 255, 0.9);
    margin-top: 20px;
    margin-bottom: 26px;

}

@media (min-width: 992px) {
    .Badge {
        display: inline-block;
        width: fit-content;
        background: rgba(10, 18, 36, 0.9);
        color: #ffffff;
        font-size: 16px;
        padding: 8px 16px;
        border-radius: 20px;
        box-shadow: 0 0 16px rgba(0, 123, 255, 0.9);
        margin-top: 80px;
    }
}