.HeroBlock {
    margin-top: -70px;
    background-color: #000509;
    /*position: relative;*/
    /*width: 100vw;*/
    /*left: 50%;*/
    /*margin-left: -50vw;*/
    /*overflow: hidden;*/
    z-index: 0;
    padding: 0 20px;       /* задаём боковые поля как в Framer */

}

.HeroBlock .row {
    /*padding-left: 60px;*/
    /*padding-right: 60px;*/
}


.imgHero {
    width: auto;
    height: 224px;
    position: relative;
    z-index: 1;
    margin-left: -50px;
}

.HeroBadge {
    display: inline-block;
    width: fit-content;
    background: rgba(10, 18, 36, 0.9);
    color: #ffffff;
    font-size: 14px;
    padding: 8px 16px;
    border-radius: 20px;
    box-shadow: 0 0 16px rgba(0, 123, 255, 0.9);
    margin-bottom: 26px;

    /*margin-left: 10px;*/

    /*!* ВАЖНО: чтобы не вылезал за экран *!*/
    /*max-width: 100%;*/
    /*white-space: normal;    !* разрешаем перенос *!*/
    /*word-wrap: break-word;  !* переносим длинные слова *!*/
    /*text-align: center;     !* центрируем текст *!*/
    /*box-sizing: border-box; !* учитываем padding *!*/
}




/*.HeroGlow {*/
/*    position: absolute;*/
/*    bottom: -150px; !* ← вот ТВОЙ РЫЧАГ 💪 *!*/
/*    left: 50%;*/
/*    transform: translateX(-50%);*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    background: url('../../assets/bgH.png') center/contain no-repeat;*/
/*    pointer-events: none; !* чтобы не мешал кликам *!*/
/*    z-index: -1;*/
/*    filter: blur(40px); !* сглаживает пиксели *!*/
/*    opacity: 0.9; !* делает свечение мягче *!*/
/*}*/

.TopMargin {
    margin-top: 100px;
}

.LeftMargin {
    /*margin-left: -50px;*/
    display: flex;
    flex-direction: column;
    /*gap: 42px;*/
}

.RightMargin {
    /*margin-right: 30px;*/
}