.Title {
    font-size: 40px;
    font-weight: lighter;
    font-family: "DM Sans", sans-serif;
    color: #FFFFFF;
}

.Subtitle {
    font-size: 20px;
    font-weight: 200;
    font-family: "DM Sans", sans-serif;
    color: #B5C0C9;
    z-index: 1;
}