.Title {
    font-size: 55px;
    font-weight: 200;
    font-family: "DM Sans", sans-serif;
    color: #FFFFFF;
}

.Subtitle {
    font-size: 30px;
    font-weight: 200;
    font-family: "DM Sans", sans-serif;
    color: #B5C0C9;
    z-index: 1;
}

.TitleAndSubtitle.centered {
    text-align: center;
    align-items: center;
    justify-content: center;
}


/* FEATURES (средний размер) */
.TitleAndSubtitle.features .Title {
    font-size: 36px;
    font-weight: 500;
    color: #fff;
}

.TitleAndSubtitle.features .Subtitle {
    font-size: 18px;
    color: #85b0d9;
    font-weight: 300;
}