.CustomCard {
    background: transparent;
    color: #ffffff; /* чтобы текст был читаем */
    border: none; /* убирает стандартную границу */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); /* мягкая тень, если нужно */
}

.HemPageDark {
    background-color: #000509;
    width: 100%;
}

.CustomCard img {
    max-width: 250px;
}

.HemPageLight {
    background-color: #E8F4FF;
    width: 100%;
}