.LoginPage {
    height: 100vh;
    background-color: #000509;
}

.LoginCard {
    background: #0a0f1c;
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.LoginCard .form-control {
    background: #111624;
    color: #fff;
    border: none;
}

.LoginCard .form-control::placeholder {
    color: #aaa;
}
