.Title {
    font-size: 64px;
    font-weight: 200;
    font-family: "DM Sans", sans-serif;
    color: #FFFFFF;
}

.Subtitle {
    font-size: 20px;
    font-weight: 200;
    font-family: "DM Sans", sans-serif;
    color: #B5C0C9;
}