.PricingSection {
    background-color: #050b15;
    color: #ffffff;
}


.PricingCard {
    background: linear-gradient(145deg, #0a0f1c, #111829);
    padding: 0;
    /*border: none;*/
    /*border-radius: 12px;*/
}

.PricingCard ul {
    padding-left: 0;
    margin-bottom: 0;
}

.PricingCard li {
    font-family: "DM Sans", sans-serif;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    color: #B5C0C9;
    font-size: 16px;
    font-weight: 300;
}

.PricingCard li img {
    margin-right: 8px; /* ← расстояние между иконкой и текстом */
    vertical-align: middle;
}

